body{
	padding: 0;
    margin: 0;
}

html,
body,
#mapa{
    height: 98%;
    z-index:-1;
    position: relative;
}
#barraFerramentas{
	position: relative;
	z-index: 900;
}
#opcoesBarraFerramentas{
	padding-top: 2px;
	padding-left: 2px;
}