body{
	padding: 0;
    margin: 0;
    overflow: hidden;
}
html,
body,

#mapa{
    height: 97%;
    z-index:-1;
    position: relative;
}

/*Font geral da aplicação*/
#enviar, #recuperarSenha, .container, #recuperar-senha, p, #cadastro-usuario, #formulario, .leaflet-control, #barra-de-pesquisa, #propriedades, #tabela_propriedades, #tabela-rua, #usuario, #senha, button, #local, #bem-vindo{
	font: "Verdana";
	font-size: 15px;
}

#barraFerramentas{
	position: relative;
	z-index: 900;
}
#consultaPesquisa{
	position: relative;
}
#opcoesBarraFerramentas{
	padding-top: 2px;
	padding-left: 2px;
}
#barra-de-pesquisa{
	opacity: 1.0; 
	position: absolute; 
	margin-left: 5%; 
	margin-top: 1%; 
	width: auto; 
	max-width: 500px;
	z-index: 20000;
}
#barra-rua{
	padding: 0px 0px 0px 0px;
	margin-top: 10%; 
	margin-left: 5%;
	z-index: 20000;
}
#img_fechar{
	margin-left: 93%;
}
#corpo-rua{
	height: 400px; 
	overflow-y: scroll; 
}
#tabela-rua{ 
	position: relative; 
	text-align: center;  
	width: 340px;
}





#propriedades{
	margin-top: 10%; 
	margin-left: 4%;
	z-index: 20000;
}
#tabela_propriedades{
	position: relative;
	/*height: auto;*/
	padding: 1px;
}
#tabela-conteudo{
	width: 630px;
}

#tabela_rua_propriedades{
}




#imagem-fechar{
	margin-left: 95%;
}
#usuario, #senha{
	box-shadow: 0px 0px;
}
input, select{
	border-radius: 2px;
	border: solid 1px;
	border-color: lightblue;
	box-shadow: 3px 1px lightblue;
}

table {width:280px;text-align:left;vertical-align:center;padding: 5px;border-bottom: 1px solid #ddd;font-family: Tahoma, Geneva, sans-serif;}
td,th {border-bottom: 1px solid #ddd;padding: 7px;}
tr:hover {background-color: #f5f5f5;}
th {background-color: #f5f5f5;}


/*@media(max-width: 576px){
	#barra-de-pesquisa{
		max-width: 250px;
		left: -4%;
	}
	#barra-rua{
		margin-top: 50%;
		left: 11%;
	}
	#corpo-rua{
		height: 300px;
	}
	#tabela-rua{
		padding: 0px 0px 0px 0px;
		width: 2px;
		height: 1px;
	}
	#tabela_propriedades{
		margin-left: 500px;
	}
	#tabela-conteudo{
		width: 500px;
		margin-left: 20%;
	}
}*/

