/*Configuração da borda de login*/
body{
	background-color: #721918;
}

#login{
	border-style: solid;
	border-radius: 20px;
	border-width: 1px;
	border-color: grey;
	padding: 1%;
	background: white;
	box-shadow: 10px 10px 10px 5px grey;
}

#logo{
	margin-left: 32%;
}

#loginGoogle{
	font-size: 15px;
}