#texto-cabeçalho{
	color: white;
}
#data-nascimento{
	width: 150px;
}
#cpf, #faixa-etaria{
	width: 250px;
}
#bem-vindo{
	color: white;
	margin-right: 30px;
	margin-top: 5px;
}
#saudacao{
	color: white;
	margin-right: 0px;
}